h1
{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

body 
{
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #blue;
}

header {
	height: 140px;
	background-color: #C9C9C9;
}

.logo {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 72px;
  color: #black;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0 0 0;
}

header h2 {
	font-family: 'Montserrat', serif;
	color: #e3e1dc;
	margin: 0px;
	font-size: 18px;
	text-align: center;
}

section {
	padding: 0 25%;
  margin: 80px 0;
}


footer {
	background-color: #blue;
	background-image:url(First-Step/cool-background (1).png);}

/* ----- type ---- */

h1, h2, h3 {
  font-family: 'Montserrat Alternates', sans-serif;
	color: #A9A9A9;
  text-align: center;
  font-weight: 500;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

/* ---- modifier styles ---- */
.border-top {
  padding-top: 80px;
  border-top: 2px solid #403933;
}






footer p {
	color: #fff;	
	text-align: center;
  padding: 30px;
  margin: 0;
}

