h1
{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

body {
	background-color: #DFF3E4 ;
  margin: 0;
}

header {
	height: 120px;
	background-color: #171738;

  footer {
	background-color: #7180B9;
}
.wrapper {
	width: 980px;
	margin: auto;
}
.wrapper:after {
	content: "";
	display: table;
	clear: both;
	}
	
footer {
	text-align: center;	
}
footer #copyright {
	color: #fff;
	margin-top: 26px;
