h1
{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

body {
	background-color: #DFF3E4 ;
  margin: 0;
}

header {
	height: 120px;
}
footer {
	background-color: #blue;
	background-image:url(First-Step/cool-background (1).png);}
footer p {
	color: #fff;	
	text-align: center;
  padding: 30px;
  margin: 0;
}

